@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	background-color: $darkgrey
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%
.text-center
	text-align: center
b, strong
	font-weight: bold
a
	text-decoration: none
	&:hover
		text-decoration: none
//custom sass//
.button-filled, .button
	a
		display: flex
		justify-content: center
		align-items: center
		width: 180px
		height: 50px
		border-radius: 25px
		border: solid $green 2px
		margin: 10px
.button a
	transition: background-color 1s ease
	color: $green
	&:hover
		background-color: $green
		color: white
	&:focus
		border: solid #37c48c 2px
		background-color: #37c48c
		color: white
.button-filled a
	transition: box-shadow 1s ease
	background-color: $green
	color: white
	&:hover
		background-color: $green
		box-shadow: 0 5px 30px 0 #3effb3
		color: white
	&:focus
		box-shadow: 0 3px 10px 0 #3effb3
		background-color: #37c48c
		border: 2px solid #37c48c
		color: white
h1
	font-size: 26px
	font-weight: 100
	line-height: 1.31
	letter-spacing: 1.3px
	display: flex 
	flex-direction: column
	margin-bottom: 0.8px
	@media only screen and (max-width: 1199px)
		margin-bottom: 1.2px	
	span 
		@media only screen and (max-width: 1199px)
			display: flex
			flex-direction: column
		color: $red
		font-weight: bold
h2
	font-size: 25px
  font-weight: 500
h3
	font-size: 16px
  font-weight: bold
.humburger
	&__btn
		display: block
		width: 50px
		height: 50px
		border-radius: 50%
		border: 1px solid $green
		position: relative
		span
			position: absolute
			top: 50%
			width: 25px
			height: 1px
			margin-top: -0.5px
			left: 50%
			margin-left: -12.5px
			background-color: $green
			&::before
				transform: translateY(-7px)
			&::after
				transform: translateY(7px)
			&::after, &::before
				content: ''
				display: block
				transition: 0.5s
				position: absolute
				top: 50%
				width: 20px
				height: 1px
				margin-top: -0.5px
				left: 50%
				margin-left: -10px
				background-color: $green
.title
	padding-top: 140px
	padding-bottom: 123px
	background-image: url(../img/artboard.jpg)
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	@media only screen and (max-width: 1199px)
		padding-top: 108px
		padding-bottom: 59px
.humburger
	display: none
	@media only screen and (max-width: 1199px)
		display: block
	z-index: 1999
	.active
		border: 1px solid $grey
	.active span, .active span::before, .active span::after
		background-color: $grey
	.active span::before
		transform: rotate(45deg)
		width: 25px
	.active span::after
		transform: rotate(-45deg)
		width: 25px
	.active span
		margin-left: -14px
		height: 0
.overlay
	&.active
		opacity: 1
		z-index: 2000
	&__bg
		background-color: rgba(0, 0, 0, 0.3)
		width: 100%	
		height: 100%
		cursor: pointer
	opacity: 0
	transition: opacity ease 1s
	z-index: -10
	position: fixed
	top: 0
	width: 100vw
	height: 100vh
	.busket-menu
		@media only screen and (max-width: 1199px)
			width: 100%
		&__total-count
			.sum
				font-size: 14px
				color: $grey
			.total
				padding-left: 20px
				font-size: 24px
				font-weight: bold
		&__checkout
			display: flex
			justify-content: center
			padding: 40px 0
		&.active
			transition: transform 0.3s ease
			transform: translateX(0)
		transition: transform 0.3s ease
		transform: translateX(100%)
		position: absolute
		right: 0
		width: 45%
		background-color: white
		height: 100%
		padding: 0 40px 0 20px
		display: flex
		flex-direction: column
		&__title
			padding-top: 10px
			padding-bottom: 40px
			display: flex
			justify-content: space-between
		&__buy-list
			padding-top: 20px
			height: (100%)
.list__item
	display: flex
	align-items: center
	position: relative
	margin-bottom: 30px
	.list__title
		align-items: center
		display: flex
		justify-content: space-between
		padding-left: 10px
		width: calc(100% - 50px)
		font-weight: bold
		span.count
			font-weight: normal
		span.cancel
			font-size: 25px
			color: $red
			margin-right: 16px
.list__item::after
	position: absolute
	bottom: -15px
	content: ''
	height: 1px
	width: 100%
	background-color: $grey
.list__item:last-child::after
	display: none
	position: absolute
	bottom: -15px
	content: ''
	height: 1px
	width: 100%
	background-color: $grey
.busket-menu__btn-close
	span
		width: 50px
		height: 50px
		border: 1px solid $grey
		border-radius: 50%
		position: relative
		display: block
	span::after
		position: absolute
		left: 50%
		top: 50%
		content: ''
		height: 1px
		width: 25px
		display: block
		background-color: $grey
		margin-left: -12.5px
		transform: rotate(45deg)
	span::before
		position: absolute
		left: 50%
		top: 50%
		content: ''
		height: 1px
		width: 25px
		display: block
		background-color: $grey
		margin-left: -12.5px
		transform: rotate(-45deg)
header
	@media only screen and (max-width: 1199px)
		.menu__list
			justify-content: center
			display: none
			position: fixed
			background-color: #fff
			left: 0
			width: 100vw
			height: 100vh
			margin: -24px 0
			z-index: 1000
			&
				ul
					flex-direction: column
					padding-top: 33px
					align-items: center
					li
						padding: 0
						padding-bottom: 40px
			&::before
				display: none
		.menu__list.active
			transform: translateY(0) !important
	a
		display: flex
	width: 100%
	position: fixed
	z-index: 1000
	padding: 10px 0
.menu
	display: flex
	align-items: center
	justify-content: center
	&__list
		width: calc(100% - 216px - 146px)
		display: flex
		align-items: center
		&::before
			content: ''
			position: relative
			left: 0
			width: 1px
			height: 28px
			background-color: $grey
			margin: 0 20px
	&__list ul
		display: flex
		list-style: none
		padding: 0
		margin: 0
		li
			padding-left: 38.7px
			&:first-child
				padding-left: 0
		a
			color: $text
			font-size: 16px
	&_grey
		background-color: #e6e6e6
		@media only screen and (max-width: 1199px)
			padding: 25px
			.logo 
				@media only screen and (max-width: 1199px)
					margin-right: calc(100% - 370px)
			&
				.busket-btn
					margin-right: 64px
.logo
	width: 146px
	display: flex
	align-items: center
	a
		display: flex
		justify-content: space-between
		width: 100%
	&__title
		display: flex
		justify-content: center
		align-items: center
		font-size: 20px
		color: $red
.busket-btn
	@media only screen and (max-width: 1199px)
		width: 101px
		&__title
			display: none
	&:hover
		.busket-btn__icon
			transition: box-shadow 1s ease
			box-shadow: 0 5px 30px 0 #3effb3
	&:focus
		.busket-btn__icon
			background-color: #37c48c
			box-shadow: 0 3px 10px 0 #3effb3
	width: 216px
	height: 50px
	border-radius: 25px
	border: 1px solid $grey
	display: flex
	align-items: center
	&__icon
		transition: box-shadow 1s ease
		width: 50px
		height: 50px
		border-radius: 50%
		background-color: $green
		display: flex
		justify-content: center
		align-items: center
		img
			padding-bottom: 5px
			padding-left: 2px
	&__title
		color: $grey
		font-size: 14px
		font-weight: 500
		padding-left: 22px
		padding-right: 27px
	&__number
		padding-left: 18px
		color: $green
		font-size: 20px
		font-weight: 500
.menu_dark
	
	margin-top: 247px
	margin-bottom: 41.2px
	@media only screen and (max-width: 1199px)
		&
			margin-top: 114px
			.logo
				width: 100%
				a
					flex-direction: column
					justify-content: center
					align-items: center
					.logo__img
						padding-bottom: 10px
					.logo__title
						margin-bottom: 41px
			.menu__list
				width: 100% !important
				position: relative
				justify-content: center
			.menu__list::before
				top: -20px
				position: absolute
				width: 100%
				height: 1px
				margin: 0
			.social-menu
				margin-top: 41px
				justify-content: center
				align-items: center
				width: 100%
				margin-left: 0 !important
	.menu__list
		width: calc(100% - 146px - 112px)
		a
			color: white
	.logo
		&__title
			color: white
	.social-menu
		display: flex
		align-items: center
		&__item
			padding-left: 11px
			&:first-child
				padding-left: 0px
			a
				display: block
.container-box
	background-color: #fff
	@media only screen and (max-width: 1199px)
		.block 
			border-bottom-left-radius: 0
	&__slide
		display: flex
	&__left 
		@media only screen and (max-width: 1199px)
			flex-direction: row
			display: flex
	&__wrap
		margin-top: -53px
		margin-bottom: -33px
		background: #fff
		border-radius: 10px
		box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1)
		display: flex
		overflow: hidden
		@media only screen and (max-width: 1199px)
			flex-direction: column
			margin-top: -28px
			margin-bottom: -73px
	&__tab
		cursor: pointer
		margin-bottom: 39px
		width: 160px 
		height: 126px
		@media only screen and (max-width: 1199px)
			width: 33.3%
			margin-bottom: 0
			border-bottom-left-radius: 0
	&__slide
		position: absolute
		display: none
	&__slide_active 
		display: flex
	&__right 
		@media only screen and (max-width: 1199px)
			box-shadow: -17px 0 38px #e6e6e6
			height: 500px
		width: 100%
		display: flex 
		position: relative
		box-shadow: -17px 0 106px #e6e6e6
		.slider 
			margin-right: 44px
			margin-left: 15px
			@media only screen and (max-width: 1199px)
				&__items 
					height: 167px !important
					display: flex 
					align-items: center !important
					justify-content: center !important
					img 
						height: 167px !important
	
				margin-right: 30px
			&__nav 
				display: flex
				align-items: center
				justify-content: center
			.navigation
				&__img 
					cursor: pointer
					margin-right: 10px
					height: 79px
					width: 79px
					display: flex
					align-items: center 
					justify-content: center
					border-radius: 50%
				&__img:last-child
					margin-right: 0
				&__img_active 
					border: solid 2px $red
			&__items
				margin-bottom: 31px
				height: 261px
				width: 261px
				margin-top: 35px
				position: relative
				transition: opacity 0.3s ease
				img 
					transition: opacity 0.3s ease
					position: absolute
					height: 261px
					opacity: 0
					&.active
						opacity: 1
		.describe 
			z-index: 400 
			@media only screen and (max-width: 1199px)
					width: calc(100% - 300px)
			&__title
				margin-top: 33.1px
				margin-bottom: 19.1px
				font-size: 25px
				font-weight: 500
				font-style: normal
				font-stretch: normal
				line-height: normal
				letter-spacing: normal
			&__text
				width: 100%
				font-size: 16px
				font-weight: normal
				line-height: normal
				font-stretch: normal
				letter-spacing: normal
				color: $text
				p 
					margin-right: 23px
					margin-bottom: 29.5px
			&__count
				display: flex
				align-items: baseline
				margin-bottom: 24.5px
				span 
					font-weight: bold
					font-size: 25px
					margin-left: 20px
				p
					margin: 0
					font-size: 14px
					font-weight: normal
					font-style: normal
					line-height: normal
					color: $grey
			&__buttons 
				z-index: 600
				display: flex
				@media only screen and (max-width: 1199px)
					margin-bottom: 48px
					a 
						margin: 0
						margin-right: 10px
.block
	transition: opacity ease 0.3s
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	border-bottom-left-radius: 10px
	border-top-left-radius: 10px
	background: #fff
	&__img 
		padding-top: 13.85px
		padding-bottom: 12.95px
	&__title 
		font-size: 16px
		font-weight: bold
		margin-bottom: 7.2px 
		line-height: normal
	&__line 
		opacity: 0
		width: 110px
		height: 2px
		background: $red 
		margin-bottom: 9px
	&:first-child 
		border-top-left-radius: 0px
	&:last-child
		margin-bottom: 0
	&_active 
		@media only screen and (max-width: 1199px)
			box-shadow: none
			.block__line 
				opacity: 0 !important
		box-shadow: -33px 9px 38px 14px rgba(0,0,0,.1)
		position: relative
		z-index: 100
		.block__line 
			opacity: 1		

